---
import CipherTabs from '../components/ciphers/CipherTabs';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="LOCKEY | The ultimate Encrypter from the Past">
  <main>
    <section
      class="min-h-screen py-28"
      aria-label="Encryption and Decryption Ciphers"
    >
      <div class="mx-auto w-10/12 2xl:w-[80%] h-full">
        <h1 class="text-2xl md:text-3xl font-display font-bold mb-8">
          The ultimate Encrypter from the Past
        </h1>

        <CipherTabs client:load />
      </div>
    </section>
  </main>
</BaseLayout>
